.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #003B54;
  text-align: center;
  padding: 20px 0;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 120px;
}

.nav {
  margin-bottom: 20px;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.menu-item {
  position: relative;
  margin: 0 10px;
  padding: 0 10px;
}

.menu-item a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menu-item a:hover {
  text-decoration: underline;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.search-input {
  width: 500px;
  padding: 10px 10px 10px 40px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  box-sizing: border-box;
}

.search-button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #0056b3;
}

.login-container {
  display: flex;
  align-items: center;
  position: absolute; /* 절대 위치 설정 */
  right: 20px; /* 오른쪽 끝에서 20px 떨어진 위치 */
  top: 100px; /* 메뉴 아래로 설정 */
}

.guest-image {
  width: 40px; /* 원하는 크기로 조정 */
  height: 40px; /* 원하는 크기로 조정 */
  border-radius: 50%; /* 둥글게 만들기 */
  overflow: hidden; /* 이미지가 원 안에서 잘리도록 */
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  border: 2px solid white; /* 원형 테두리 추가 (원하는 색상으로 조정 가능) */
  margin-right: 20px; /* 로그인 버튼과의 간격 추가 (여기 값을 조정) */
  background-color: aliceblue;
}

.guest-image img {
  width: 100%; /* 컨테이너에 맞게 조정 */
  height: 100%; /* 컨테이너에 맞게 조정 */
  object-fit: cover; /* 비율 유지하면서 잘리도록 설정 */
}



.login-button button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.login-button button:hover {
  background-color: #0056b3;
}


.login-button:hover {
  background-color: #0056b3;
}



