header {
    background-color: #003b5c;
    position: fixed; 
    top: 0;
    display: flex;
  }
  
  .logo {
    width: 150px; /* 로고 크기 조절 */
    margin-bottom: 10px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  