.content_find{
    width: 100%;
    height : 500px;
    padding: 0;
    position : relative;
    margin-bottom: 50px;
}

.form_wrap{
    width : 40%;
    min-width:500px;
    height: 100%;
    min-height: 500px;
    margin:0 auto;
    position : relative;
    top:25px;
    bottom:25px;
}

.move_find_page{
    border: 2px solid lightsteelblue;
    background-color: white;
    color:black;
    margin-top : 30px;
}

.move_find_page:hover{
    background-color: steelblue;
}

.info_text{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.content_find_id{
    margin-bottom:50px;

}

.component_wrap>button{
    width:50%;
    display: grid;
    place-items: center;
    margin-top: 30px;
    margin-left: 25%;
}
