.hotels-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding: 30px;
}

.hotel-button {
    padding-top: 10px;
    display: inline-flex; /* 버튼을 일자로 배치 */
    margin: 0; /* 기본 여백 제거 */
}

.hotel-button button {
    padding: 5px 10px; /* 버튼 크기를 작게 설정 */
    font-size: 14px;    /* 글씨 크기 */
    margin: 0 5px;      /* 버튼 사이에 간격을 줌 */
    cursor: pointer;    /* 클릭 시 포인터 커서 */
    border-radius: 3px; /* 테두리 둥글게 */
    background-color: #598ac6; /* 버튼 배경색 */
    transition: background-color 0.3s; /* 배경색 변경 효과 */
}

.hotel-button button:hover {
    background-color: rgb(137, 165, 213);
}

.hotel-card {
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hotel-image {
    width: 100%;
    height: 200px;
    background-color: #ccc;  /* 호텔 이미지 자리 */
}

.hotel-info {
    padding: 10px;
}

.hotel-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.hotel-area {
    font-size: 14px;
    color: #777;
}

.hotel-date {
    font-size: 12px;
    color: #555;
}