/* 로그인 폼 전체를 감싸는 div */
.admin-login-container {
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
}
/* 로그인 제목 */
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    text-align: left;
}

/* 입력 필드 스타일 */
.admin-login-input > input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

/* 로그인 버튼 스타일 */
button {
    width: 100%;
    padding: 10px;
    background-color: #4a8fa5;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3a7280;
}