.search-comment {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
   
  .search-comment input {
    padding: 10px;
    margin-right: 20px;
    height: 40px;
  }
  
  .search-comment input[type="date"] {
    margin-right: 20px;
    width: 200px;
    height: 20px;
  }


  .search-comment input[type="text"] {
    width: 500px;
    margin-right: 20px;
  }

  .search-comment button {
    padding: 5px;
    margin-right: 20px;
    width: 200px;
    height: 45px;
  }
