
  .search-course {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
   
  .search-course select {
    padding: 10px;
    margin-right: 20px;
    width: 200px;
    height: 40px;
  }

  .search-course input[type="date"] {
    padding: 10px;
    margin-right: 20px;
    width: 200px;
    height: 20px;
  }


  .search-course input[type="text"] {
    padding: 10px;
    width: 500px;
    margin-right: 20px;
  }

  .search-course button {
    padding: 5px;
    margin-right: 20px;
    width: 200px;
    height: 45px;
    background-color: #4a8fa5;
    color: white;
    border: none;
    border-radius: 4px;
  }

