.search-qna {
    display: flex;
    align-items: stretch;
    margin-bottom: 10px;
  }
   

  .search-qna input[type="text"] {
    width: 400px;
    height: 40px;
    margin-right: 20px;
  }

  .search-qna select {
    height: 40px;
    margin-right: 20px;
  }

  .search-qna button {
    padding: 5px;
    margin-right: 20px;
    width: 200px;
    height: 43px;
    background-color: white;
    
  }
