  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .search-container input, .search-container button {
    padding: 5px;
    margin-right: 20px;
  }

  
  .delete-button {
    padding: 10px 20px;
    width: 100px;
    background-color: #1b257c;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;    
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  thead {
    background-color: #f5f5f5;
  }
  
  .pagination {
    margin-top: 10px;
    text-align: center;
  }
  
  .pagination span {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .pagination span:hover {
    background-color: #ddd;
  }
