 .search-user {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
  }
   
  .search-user input {
    padding: 10px;
    margin-right: 20px;
    height: 40px;
  }

  .search-user p {
    width: 50px;
  }


  .search-user input[type="text"] {
    width: 500px;
    margin-right: 20px;
  }

  .search-user button {
    padding: 5px;
    margin-right: 20px;
    width: 200px;
    height: 45px;
  }

  